.variants-container.container
  - if (not @product.variants.unarchived.exists?) && @product.properties.exists?
    = link_to "Bulk create variants", new_admin_store_variant_factory_path(product_id: @product.id), class: "large new variant_factory button"
  = link_to "New variant...", new_admin_store_product_variant_path(@product.id), :class => "large new variant button"

  %h2 Variants
  %table.fancy.sortable.variants
    %thead
      %tr
        %th Image
        %th Name
        %th SKU Code
        %th Price
        - @product.properties.each do |property|
          %th
            = property.name
        %th Customer Message
        %th Published
        %th Actions
    %tbody
      - if @product.variants.unarchived.exists?
        = render :partial => "breeze/admin/commerce/variants/variant", :collection => @product.variants.unarchived.ordered
      - else
        %tr
          %td.empty{:colspan => "9"} 
            There are no variants for this product yet.
    %tfoot
      %tr