.variants-container.container
  = link_to "New variant...", new_admin_store_product_variant_path(@product.id), :class => "large new variant button"
  %h2 Variants
  %table.fancy.variants
    %thead
      %tr
        %th.first{:colspan => "2", :style => ""} Name
        %th SKU Code
        %th Price
        - @product.properties.each do |property|
          %th
            = property.name
        %th{:style => "width:20%;"} Published
        %th.last{:style => ""} Actions
    %tbody
      - if @product.variants.any?
        = render :partial => "breeze/admin/commerce/variants/variant", :collection => @product.variants.unarchived
      - else
        %tr
          %td.empty{:colspan => "5"} There are no variants for this product.
    %tfoot
      %tr