:javascript
  $('body').html(' escape_javascript render(:file => "breeze/admin/commerce/variants/edit") ');
  $('#variant-details').html(' escape_javascript render(:file => "breeze/admin/commerce/variants/edit") ');
