// Javascript used in the checkout funnel – shopping cart and checkout pages

// Shopping Cart
$(document).ready(function() {

  // Update the order immediately when line item quantities change in the cart
  $('.line_item-quantity').change(function() {
    if ( $(this).val() == 0 ) {
      // Check whether to remove the line item entirely
      if ( confirm('Remove the line item?') ) { 
        $(this).siblings('.remove').click();
      }
      else {
        // Update the line item to quantity of 1
        $(this).val(1);
        // TODO: DRY up this code: it's the same as below except for quantity
        $.ajax({
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: '/orders/' + $(this).data('order-id') + '/line_items/' + $(this).data('line-item-id'),
          dataType: "html",
          type: "PUT",
          data: { line_item: { quantity: 1 } },
          success: function(result) { eval(result);  },
          error: function(result) { eval(result); }
        });        
      }
    }
    else {
      // Update the line item
      $.ajax({
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        url: '/orders/' + $(this).data('order-id') + '/line_items/' + $(this).data('line-item-id'),
        dataType: "html",
        type: "PUT",
        data: { line_item: { quantity: $(this).val() } },
        success: function(result) { eval(result); },
        error: function(result) { eval(result); }
      });
    }
  });

  // Update the order immediately when shipping method changes in the cart
  $('.radio-shipping_method').change(function() {
    $.ajax({
      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
      url: '/orders/' + $(this).data('order-id'),
      dataType: "html",
      type: "PUT",
      data: { order: { shipping_method: $(this).val() } },
      success: function(result) { eval(result); },
      error: function(result) { eval(result); }
    });
  });

});



// Checkout Form
$(function() { 

  // Panels for the checkout form
  var panels = ['#sign-in', '#shipping', '#billing','#create-account'];

  // Tooltips
  // $('img#postcode-help').tooltip({
  //   bodyHandler: function() {
  //     return "<h3>Postcode</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non nibh dui, tempor lacinia eros.</p>";
  //   },
  //   showURL: false
  // });


  // Starting status
  // ... depends on whether we have a customer already signed in
  if ( $('#sign-in').attr('data-customer_signed_in') === 'true') {
    // Hide first panel, show second
    $(panels.join()).children('.checkout-body').hide();
    $(panels[1]).children('.checkout-body').show();
    $(panels.slice(1).join()).children('.checkout-summary').hide();
  }
  else {
    // Hide all but first panel
    $(panels.slice(1).join()).children('.checkout-body').hide();
    $(panels.join()).children('.checkout-summary').hide();
  }



  /* Step 1 - Sign In */

  // Show/hide password field for returning customers
  $('#returning_customer').change(function() {
    $('li#returning_customer_password').slideToggle(this.checked);
  });

  $('#continue-1a').click(function(event) {
    return change(0, 1);
  });

  $('#continue-1b').click(function(event) {
    if ( $('#customer_email').valid() ) {
      $('#order_email').val( $('#customer_email').val() );
      $('#guest_email').html( $('#customer_email').val() );
      return change(0, 1);
    }
    return false;
  });



  /* Step 2 - Shipping */

  $('#continue-2').click(function(event) {
    if ( validateStep('#shipping') ) {
      duplicateAddress();
      $('#shipping .checkout-summary .summary').html( formatAddress('shipping') );
      return change(1, 2);
    }
    return false;
  });




  /* Step 3 */

  // Update billing address fields depending on whether it's the same as shipping address
  $('#same').change(function() {
    if ($(this).attr('checked')) {
      duplicateAddress();
      $('#order_billing_address').slideUp();
    }
    else {
      $('#order_billing_address_name').val('');
      $('#order_billing_address_address').val('');
      $('#order_billing_address_city').val('');
      $('#order_billing_address_state').val('');
      $('#order_billing_address_postcode').val('');
      $('#order_billing_address_country option[value=""]');
      $('#order_billing_address_phone').val('');
      $('#order_billing_address').slideDown();
    }
  });

  $('#continue-3').click(function(event) {
    if ( validateStep('#billing') ) {
      $('#billing .checkout-summary .summary').html( formatAddress('billing') );
      return change(2, 3);
    }
    return false;
  });





  /* Step 4 */

  // Show/hide password field for new accounts
  $('#create_new_account').change(function() {
    $('li#new_account_password').slideToggle(this.checked);
  });

  $('#continue-4').click(function(event) {
    if ( validateStep('#create-account') ) {
      this.form.submit();
    }
    return false;
  });




  /* Going back */

  $('#edit-sign-in').click(function(event) {
    return change(currentStepIndex(), 0);
  });

  $('#edit-shipping').click(function(event) {
    return change(currentStepIndex(), 1);
  });

  $('#edit-payment').click(function(event) {
    return change(currentStepIndex(), 2);
  });

  $('#changed-my-mind').click(function(event) {
    return change(currentStepIndex(), 3);
  });





  // Validate the fields for one step (i.e. not the whole form)
  function validateStep(stepName) {
    stepValid = true;
    $(stepName + ' input')
      .add(stepName + ' textarea')
      .add(stepName + ' select')
      .each(function(index) {
        if ( $(this).valid() != true ) { 
          stepValid = false; 
        }
      });
    return stepValid;
  }

  // Return a nicely-formatted address
  // addressType is 'shipping' or 'billing'
  function formatAddress(addressType) {
    address = "";
    address += $('#order_' + addressType + '_address_name').val() + '<br />';
    address += $('#order_' + addressType + '_address_address').val() + '<br />';
    address += $('#order_' + addressType + '_address_city').val() + ' ';
    address += $('#order_' + addressType + '_address_state').val() + '<br />';
    address += $('#order_' + addressType + '_address_postcode').val() + '<br />';
    address += $('#order_' + addressType + '_address_country').val() + '<br />';
    address += 'Contact Phone ' + $('#order_' + addressType + '_address_phone').val();
    return address;
  }

  // Copy the shipping address to the billing address
  function duplicateAddress() {
    $('#order_billing_address_name').val($('#order_shipping_address_name').val());
    $('#order_billing_address_address').val($('#order_shipping_address_address').val());
    $('#order_billing_address_city').val($('#order_shipping_address_city').val());
    $('#order_billing_address_state').val($('#order_shipping_address_state').val());
    $('#order_billing_address_postcode').val($('#order_shipping_address_postcode').val());
    var selected = $('#order_shipping_address_country option:selected').val();
    $('#order_billing_address_country option[value=' + selected + ']').attr('selected', 'selected');
    $('#order_billing_address_phone').val($('#order_shipping_address_phone').val());
    return false;
  }

  function change(from, to, summaryHtml) {
    $(panels[from]).children('.checkout-body').slideUp();
    $(panels[from]).children('.checkout-header').removeClass('active');
    $(panels[from]).children('.checkout-header').addClass('visited');
    $(panels[from]).children('.checkout-summary').slideDown();

    $(panels[to]).children('.checkout-body').slideDown();
    $(panels[to]).children('.checkout-header').addClass('active');
    $(panels[to]).children('.checkout-summary').slideUp();
    return false;
  }

  function currentStepIndex() {
    var element = $(panels.join()).children('.checkout-body').filter(':visible').first().parent().attr('id');
    return panels.indexOf('#' + element);
  }
});
