<% content_for :title, "Store" %>

<% pane_layout do |panes| %>
  <% panes.header do %>
    <%= link_to "New Product", new_admin_store_product_path, :class => "large new blog_post button" %>
  <% end %>
  <% panes.inner do %>
    <p>hello</p>
  <% end %>
  <% panes.footer do %>
    
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "left" %>
<% end %>


