<div class="categories-container container">
  <p>These are your current available categories ready for your online store</p>
  <table class="fancy sortable categories">
    <thead>
      <tr>
        <th class="first" style="">Name</th>
        <th style="width:15%;">Slug</th>
        <th style="width:20%;">Available?</th>
        <th class="last" style="">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if categories.any? %>
        <%= render :partial => "category", :collection => categories %>
      <% else %>
        <tr><td class="empty" colspan="4">There are no categories to show here.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>
