<ul class="properties">
  <% properties = product.properties %>
  <% if properties.any? %>
    <%= render :partial => "/partials/commerce/property", :collection => properties, :locals => {:property_count => properties.count} %>
  <% else %>
    <li class="empty">There are no properties for this product.</li>
  <% end %>
</ul>
