<ul class="variants">
  <% if variants.any? %>
    <%= render :partial => "/partials/commerce/variant", :collection => variants, :locals => {:variant_count => variants.count} %>
  <% else %>
    <li>There are no variants available for this product.</li>
  <% end %>
</ul>
