<table class="fancy contextual variants">
  <thead>
    <tr>
      <th class="image first"></th>
      <th class="name" style="">Name</th>
      <th class="price">Price</th>
      <th class="actions last" style=""></th>
    </tr>
  </thead>
  <tbody>
    <% if product.variants.any? %>
      <%= render :partial => "/partials/commerce/variant", :collection => product.variants %>
    <% else %>
      <tr><td class="empty" colspan="5">There are no variants for this product.</td></tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
</table>
