%table#cart.table-striped.order
  %thead
    %tr
      %th.item Item
      %th.price Price
      %th.quantity Quantity
      %th.total Total
  %tbody
    - if line_items.unarchived.exists?
      = form.fields_for :line_items do |line_item_fields|
        - if line_item_fields.object.archived?
          = ''
        - else
          = render :partial => "breeze/commerce/line_items/line_item", :locals => { :line_item_fields => line_item_fields, :line_item => line_item_fields.object }
    - else
      %tr
        %td.empty{:colspan => "4"} No line items yet.
%table#totals.table-striped.order
  %tfoot
    = render :partial => "breeze/commerce/line_items/totals", :locals => { :form => form }