.tags-container
  %table.fancy.sortable.tags
    %thead
      %tr
        %th.first
          = sortable "name", "Name"
        %th.last
          Actions
    %tbody
      - if tags.any?
        = render :partial => "breeze/admin/commerce/tags/tag", :collection => tags, locals: {count: tags.count}
      - else
        %tr.empty
          %td.empty{:colspan => "4"} There are no tags to show here.
    %tfoot
      %tr