- top_customers = Breeze::Commerce::Customer.all.sort { |a,b| a.order_total <=> b.order_total }.reverse.paginate :page => 1, :per_page => 5
- top_products = Breeze::Commerce::Product.unarchived.sort_by { |order| order.number_of_sales }.reverse.paginate :page => 1, :per_page => 5
#top.box.col3
  %h2 Top Selling Products
  = render partial: 'breeze/admin/commerce/products/top_sellers', locals: { products: top_products }
  %h2 Top Customers
  = render :partial => "breeze/admin/commerce/customers/top_customers", :locals => { :customers => top_customers }