  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: small;
  }
  #cart-container h1, #checkout-container h1 {
    font-size: 2.5em;
    color: #767676;
    font-weight: normal;
  }
  #cart-container h1 {
    float:left;
  }
  div.order-summary {
    width: 268px;
    border: 1px solid #e6f5fe;
    background-color: #f6fbff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  div.order-summary div.header {
    background-color: #297fc3;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    line-height: 52px;
    color: #fff;
  }
  div.order-summary div.header span {
    margin-left: 12px;
    font-size: 120%;
    font-weight: bold;
  }
  div.order-summary div.body>div {
    margin-left: 12px;
    margin-right: 12px;
  }
  div.order-summary div.products {
    font-size: 0.9em;
    padding-top: 12px;
  }
  div.order-summary div.product {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  div.order-summary div.product span.name {
    color: #555;
    font-weight: bold;
    float:left;
  }
  div.order-summary div.product span.price {
    color: #297fc3;
    float:right;
  }
  div.order-summary div.product span.option {
    
  }
  div.order-summary div.total {
    line-height: 54px;
  }
  div.order-summary div.subtotal {
    line-height: 30px;
    border-bottom: 1px solid #d7d7d7;
  }
  table.rounded {
    border-collapse: separate; 
    border-spacing: 0px;   
  }
  table.order {
    background-color:#f6fbff;
    border: 1px #e6f5fe solid;
  }
  table.rounded thead th:first-child {
    background-position: 0px 0px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
  }
  table.rounded thead th:last-child {
    background-position: 100% 0px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
  }  
  table#cart {
    width: 900px;
    margin-left: 24px;
  }
  table#checkout, table#help {
    width: 268px;
  }
  table.order thead th {
    background-color: #297fc3;
    color: #ffffff;
    font-weight: normal;
    line-height: 32px;
    text-align: left;
    padding-left: 12px;
  }
  table#cart tbody td {
    line-height: 84px;
    border-bottom: 1px solid #d7d7d7;
  } 
  table#cart input[type=text] {
    width: 24px;
  }
  table#cart tbody td:first-child, table#cart tbody td:last-child {
    border-bottom: none; 
    width: 12px; 
  }
  table#cart tfoot tr:first-child td {
    padding-top: 20px;
  }
  table#cart tfoot td {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  table.rounded tfoot td:first-child {
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px; 
  }
  table.rounded tfoot td:last-child {
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px; 
  }
  table#cart a {
    float: left;
    background: url(../images/icons/delete.png) center left no-repeat;
    padding: 0px 8px 0px 18px;
    white-space: nowrap;
    text-decoration: underline;
    color: #c6c8ca;
  }
  .buttons {
    float:right;
  }
  div#cart-container {
    width: 953px;
  }
  div#cart-header {
    overflow: auto;
    width: 100%;
  }

  /* checkout styling */
  div#checkout-container h1 {
    background-image: url(/breeze/images/padlock.png);
    background-repeat: no-repeat;
    background-position: 0px 6px;
    padding-left: 26px;
  }
  div#checkout-container #continue-shopping {
    width: 100%;
  }
  div#checkout-container {
    width: 953px;
  }
  div#left {
    width: 660px;
    float: left;
  }
  div#right {
    float: right;
  }
  div.heading {
    float: left;
    width: 605px;
    line-height: 40px;
  }
  div.checkout-header div.heading div.number {
    background-image: url(/breeze/images/disabled.png);
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    line-height: 40px;
    padding-top: 2px;
  }
  div.checkout-header.active div.heading div.number {
    background-image: url(/breeze/images/active.png);
  }
  div.heading div.step {
    border: 1px solid #d7d7d7;
    background-color: #f2f2f2;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 585px;
    line-height: 28px;
    overflow: auto;
    margin-top: 5px;
    margin-left: 20px;
  }
  div.heading div.step span {
    margin-left: 70px;
    font-size: 1.2em;
    color: #686868;
  }
  div.heading div.number span {
    color: #fff;
    margin-top: 5px;
    padding-left:16px;
    padding-right: 15px;
  }
  div.checkout-header>span {
    float: left;
    width: 50px;
    color: #d7d7d7;
    font-size: 1.2em;
  }
  div.checkout-header.active > span {
    color: #8cc63f;
  }
  div.checkout-header, div.checkout-body {
    overflow: auto;
    width: 100%;
  }
  div.checkout-header {
    line-height: 40px;
  }
  div.checkout-body {
    margin-left: 50px;
    width: 605px;
  }
  
  legend {
    color: #297fc3;
    font-weight: bold;
  }
  fieldset {
    border: none;
    border-bottom: 1px solid #d7d7d7;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 0px;
  }
  fieldset ol {
    margin: 0;
    padding: 0;
    float: left;
  }
  fieldset li {
    list-style: none;
    padding: 5px;
    margin: 0;
  }
  label {
    display: inline-block;
    line-height: 1.8;
    width: 88px;
    font-weight: bold;
    font-size: 0.8em;
    color: #777;
  }
  label:after {
    content: ":";
  }
  label.long {
    width: 260px;
  }
  label.long:after {
    content: "";
  }
  ol.form input[type=text] {
    background-image: url(/breeze/images/form_bg.jpg);
    background-repeat: repeat-x;
    border: 1px solid #d7d7d7;
    padding: 3px;
    width: 204px;
  }
  ol.form input[type=text].long {
    width: 260px;
  }
  ol.form input[type=text].error {
    border: 1px solid #8cc63f;
    background-color: #f2fbe6;
    background-image: none;
  }
  ol.form abbr {
    font-size: 200%;
    font-weight: bold;
    color: #8cc63f;
    margin-left: -234px;
    line-height: 0.2em;
    vertical-align: bottom;
    border: none;
  }
  div.checkout-body a.multi-line-button {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  div.checkout-summary {
    overflow: auto;
    width: 100%;
  }
  div.checkout-summary div.summary {
    float: left;
  }
  div.checkout-summary div.action {
    float: right;
  }
  div#new-customer {
    float: left;
    width: 292px;
    padding: 16px;
    background-color:#f6fbff;
    border: 1px #e6f5fe solid;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
  }
  .callout {
    padding: 5px;
    border: 2px solid #8cc63f;
    color: #8cc63f;
    background-color: #f2fbe5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-left: 50px;
    margin-top: 7px;
    font-weight: bold;
  }
  fieldset div.notes {
    float: left;
    width: 250px;
    margin-left: 26px;
  }
  fieldset div.notes span {
    color: #297fc3;
    font-weight: bold;
  }
  fieldset div.notes p {
    color: #bbb;
    margin-top: 0.5em;
  }

  /* single line button */
  a.single-line-button {
    padding: 12px 20px;
  }

  /* multi line buttons */
  a.multi-line-button, a.single-line-button {
      -moz-background-clip: padding;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px;
      /* -moz-box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.5) inset; */
      background-color: #909090;
      background-image: -moz-linear-gradient(center top , #b0b0b0 0%, #909090 50%, #767676 100%);
      border-color: #767676;
      border-style: solid;
      border-width: 1px;
      color: white;
      display: inline-block;
      margin: 0.2em auto;
      text-align: center;
      text-decoration: none;
      /* text-shadow: 0 1px 2px #2E7EBD; */
  }
  a.multi-line-button {
    width: 268px;
    padding: 0.4em;
  }
  a.multi-line-button .title {
      display: block;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.9;
  }
  a.multi-line-button .subtitle {
      display: block;
      font-size: 14px;
      margin-top: 4px;
      opacity: 0.7;
  }
  a.multi-line-button:hover .title {
      opacity: 1;
  }
  a.multi-line-button:hover .subtitle {
      opacity: 0.8;
  }
  a.multi-line-button:active {
      padding: 13px 15px 11px;
  }
  a.multi-line-button:hover, a.multi-line-button:focus {
      background-image: -moz-linear-gradient(center top , #9DC7E7 0%, #74AFDD 50%, #378BCE 100%);
  }
  a.multi-line-button:active, a.multi-line-button.depressed {
      -moz-box-shadow: none;
      background-image: -moz-linear-gradient(center top , #5796C8 0%, #6AA2CE 100%);
      border-color: #2970A9;
  }
  a.multi-line-button.green {
      /* -moz-box-shadow: 1px 1px 0 0 rgba(233, 233, 233, 0.5) inset; */
      background-color: #63BB4A;
      background-image: -moz-linear-gradient(center top , #83C96F 0%, #63BB4A 50%, #4E9939 100%);
      border-color: #63BB4A #3B742B #3B742B #63BB4A;
      color: white;
      text-shadow: 0 1px 2px #458632;
  }
  a.multi-line-button.green:hover, a.multi-line-button.green:focus {
      background-image: -moz-linear-gradient(center top , #93D082 0%, #73C25D 50%, #4E9939 100%);
  }
  a.multi-line-button.green:active, a.multi-line-button.green.depressed {
      -moz-box-shadow: none;
      background-image: -moz-linear-gradient(center top , #5F9F4C 0%, #6AAF56 100%);
      border-color: #3B742B;
  }
