#product_edit #main-tabs-tabs {
  background: none;
  position: relative;
}

#product_edit #main-tabs-content {
  position: relative;
}

table.products .product-actions {
  visibility: hidden;
}

table.products tbody tr:hover .product-actions {
  visibility: visible;
}

#product_available {
  margin: 0px;
  padding: 0px;
}

#product-available .available-toggle {
  width: 114px;
  height: 28px;
  margin: 0px 0px 8px;
  background-image: url(/breeze/images/yes-no-toggle.png);
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
}

#product-available label {
  padding-top: 6px;
  float: left;
  width: 60px;
  font-weight: bold;
}

#product-available li.check_box {
  padding-left: 0;
}

.fake-right-sidebar .product-categories label {
  float: none;
  width: auto;
  display: inline;
}

fieldset.product-categories {
  margin: 8px 0px;
  padding: 8px 0px 0px;
}

fieldset.product-categories legend {
  position: relative;
  top: 4px;
}

fieldset.product-categories ol.form {
  margin: 0px;
  width: 184px;
  /* max-height: 9em; */
  overflow-y: auto;
}

fieldset.product-categories ol.form li {
  margin: 0px 0px 1px;
  background: #ccc;
  padding: 4px;
  -webkit-border-radius: 4px;
}

table.categories tr.category td {
  padding: 4px 8px;
}

table.categories tr.category td.name {
  font-size: 125%;
  font-weight: bold;
}

table.fancy tbody tr .actions .button {
  visibility: hidden;
   opacity: 0;
  /* -moz-transition: opacity 0.25s ease-in; */
  -webkit-transition: opacity 0.25s ease-in;
}

table.fancy tbody tr:hover .actions .button {
  visibility: visible;
  opacity: 1.0;
}

table.fancy tbody tr.disabled:hover .actions .button {
  visibility: hidden;
  opacity: 0;
}

table.fancy tbody tr.active td {
  border-bottom: 0px;
}

table.fancy tbody tr.active td, table.fancy tbody tr.active:hover td, table.fancy tbody tr.edit td {
  background-color: #ffffc0;
}

table.fancy tbody tr .actions {
  text-align: right;
}

table.fancy tbody tr.active .actions .button {
  visibility: visible;
  opacity: 1.0;
}

.product-edit .tab-pane {
  top: 0px !important;
}

#product-edit img.feature {
  float: left;
}

/** CONTEXTUAL **********************************/

.edit-context, .new-context {
  position: relative;
  margin-top: -12px;
}

.edit-context img {
  display: block;
  margin: 10px auto;
}

.edit-context label, .new-context label {
  float: none !important;
}

.edit-context input {
  width: 240px !important;
}

.buttons {
  position: relative;
}

.buttons img {
  position: absolute;
  margin: 0;
  bottom: -12px;
  left: -40px;
}

.new-context {
  background-color: #ffffc0;
}

.new-context img {
  display: block;
  margin: 0px auto;
  padding-top: 10px;
}

.new-context .buttons {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

table.contextual tbody tr.edit .buttons {
  position: absolute;
  right: 0px;
  bottom: 8px;
}

table.fancy tbody tr.edit .table-actions button, .new-category button {
  margin-left: 8px;
}

#coupon-details #coupon_type li.radio_button {
  width: 140px;
  display: inline-block;
}

#coupon-details #coupon_type li.radio_button label {
  float: none;
  display: inline;
}

h1 .new {
  float: right;
}

.new.contextual.disabled {
  background-color: #6A952F;
}
