.countries-container
  %table.fancy.sortable.countries
    %thead
      %tr
        %th.name.first Name
        %th.shipping_methods.first Shipping Methods
        %th.actions.last Actions
    %tbody
      - if countries.any?
        = render :partial => "breeze/admin/commerce/countries/country", :collection => countries, locals: {count: countries.count}
      - else
        %tr.empty
          %td.empty{:colspan => "3"} There are no countries to show here.
    %tfoot
      %tr