<div class="buttons">
  <button class="ui-button green ok">
    <span class="ui-button-text">OK</span>
  </button>
  <button class="ui-button cancel">
    <span class="ui-button-text">Cancel</span>
  </button>
</div>
