- content_for :head do
  = stylesheet_link_tag "breeze/breeze_commerce"
  = javascript_include_tag "breeze/breeze_commerce"
= pane_layout do |left|
  - left.header do
    %h2 Commerce
  - left.inner do
    = commerce_menu
