<div class="shipping_methods-container container">
  <table class="fancy contextual shipping_methods">
    <thead>
      <tr>
        <th class="first">Name</th>
        <th class="">Price</th>
        <th class="last" >Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if shipping_methods.any? %>
        <%= render :partial => "breeze/admin/commerce/shipping_methods/shipping_method", :collection => shipping_methods, locals: {shipping_methods_count: shipping_methods.count} %>
      <% else %>
        <tr><td class="empty" colspan="6">There are no shipping methods to show here.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>


