<% content_for :title, "Editing shipping method" %>
<div id='<%= "shipping_method_#{@shipping_method.id}" %>' class="shipping_method-edit">
  <%= render "breeze/admin/commerce/shipping_methods/form", :url => admin_store_shipping_method_path(@customer) %>
</div>

