<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <%= stylesheet_link_tag "/breeze/stylesheets/products" %>
    <%= stylesheet_link_tag "/breeze/stylesheets/store" %
  </head>
  <body>
    <div id="container">
      <h1>Products</h1>

      <%= render "/partials/commerce/products", :products => products %>
    </div>
  </body>
</html>
