<%= content_tag :tr, :class => :variant, :id => "variant_#{variant.id}", :"data-id" => variant.id do %>
  <td class="name">
    <%= variant.name %>
  </td>
  <td class="price">
    <%= variant.display_price %>
  </td>
  <td class="actions">
    <p class="variant-actions">
      <%= link_to "Edit", edit_admin_store_product_variant_path(variant.product, variant), :class => "small black edit button" %>
    </p>
  </td>
<% end %>
