.coupons-container.container
  %table.fancy.sortable.coupons
    %thead
      %tr
        %th
          = sortable "name", "Name"
        %th
          = sortable "start_time", "Start on"
        %th
          = sortable "end_time", "End on"
        %th Codes
        %th Published
        %th Actions
    %tbody
      - if coupons.any?
        = render :partial => "breeze/admin/commerce/coupons/coupon", collection: coupons, locals: {count: coupons.count}
      - else
        %tr.empty
          %td.empty{:colspan => "6"} There are no coupons to show here.
    %tfoot
      %tr
