- classes = payment.created_by_merchant ? 'created_by_merchant' : ( payment.succeeded ? 'approved' : 'declined' )
%li.payment{:id => "payment_#{payment.id}", class: classes }
  Payment of
  %span.amount= number_to_currency payment.amount, :locale => :nz
  - if payment.created_by_merchant
    created by merchant
  - else
    - if payment.succeeded
      made 
    - else
      declined
  on
  %span.date= payment.created_at
  .gateway Payment Express
  = button_to "Remove", breeze.admin_store_order_payment_path(@order, payment), :method=>:delete, :remote => true, :class=>:remove