<%= pane_layout do |left| %>
  <% left.header do %>
    <h2>Commerce</h2>
  <% end %>
  <% left.inner do %>
    <%= commerce_menu %>
  <% end %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_link_tag "breeze/store.css" %>
<% end %>

