- content_for :title, "Store"
= pane_layout do |main|
  - main.header do
    %h2
  - main.inner do
    %h1 You have no stores set up.
    = form_tag admin_store_setup_default_path do
      %p
        = submit_tag "Click here", :class => :button
        to start a new store
        = succeed "." do
          %tt /store
