<div class="orders-container container">
  <table class="fancy contextual orders">
    <thead>
      <tr>
        <th class="first" style="width: 20%;">Order Date & Time</th>
        <th>Customer</th>
        <th>Billing Details</th>
        <th>Shipping Details</th>
        <th>Amount</th>
        <th class="last">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if orders.any? %>
        <%= render :partial => "breeze/admin/commerce/orders/order", :collection => orders %>
      <% else %>
        <tr><td class="empty" colspan="6">There are no orders to show here.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>


