<div class="orders-container container">
  <table class="fancy contextual orders">
    <thead>
      <tr>
        <th class="order-number first">Order Number</th>
        <th class="customer">Customer</th>
        <th class="billing">Billing Details</th>
        <th class="shipping">Shipping Details</th>
        <th class="amount">Amount</th>
        <th class="actions last">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if orders.any? %>
        <%= render :partial => "breeze/admin/commerce/orders/order", :collection => orders %>
      <% else %>
        <tr><td class="empty" colspan="6">There are no orders to show here.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>


