.orders-container
  %table.fancy.orders
    %thead
      %tr
        %th.order-number.first Order
        %th.amount Amount
        %th.actions.last Actions
    %tbody
      - if orders.any?
        = render :partial => "breeze/admin/commerce/orders/ready_order", :collection => orders
      - else
        %tr
          %td.empty{:colspan => "4"} There are no orders to show here.
    %tfoot
      %tr
        %td{colspan: '4'}
          = link_to 'See all orders', breeze.admin_store_orders_path