/* Styles used in Breeze Commerce front end

/* Typography

.old_price
  text-decoration: line-through

.discounted_price
  color: red

/* Order table
table.order
  td
    vertical-align: top


/* Customer Card
.customer-card
  background: white
  border: solid 1px #eeeeee
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75)
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75)
  color: #444444
  display: block
  float: left
  margin: 0
  padding: 2em
  width: 20em
  text-decoration: none
  .customer-name
    font-size: 200%
  .customer-contact
    li
      list-style: none
      text-align: right
a.customer-card:hover
  background: #cccccc


/* Shopping Cart

.cart-container
  .form-actions 
    box-sizing: border-box
    .btn-group
      float: right
  table.summary
    width: 100%
    margin-bottom: 1em
    thead th
      text-align: left
      &.total
        text-align: right
    tfoot
      border-top: solid 1px #d7d7d7
      border-bottom: solid 1px #d7d7d7
      tr.total td.total
        font-size: 2em
    input[type=text]
      width: 2em
      text-align: center
    td.total
      font-weight: bold
      text-align: right
#checkout-form
  .cart-container
    position: relative
    a#edit-items
      float: right

.spacetakerupper
  background: yellow
  height: 200em

/* Checkout Funnel

/* Cart table
table.cart 
  width: 100%
  margin-bottom: 1em
  tr.line_item
    td
      padding: 0
      vertical-align: middle
      p
        margin: 0
    td.item
      width: 60%
      img.thumbnail
        float: left
        margin-right: 1em
    td.quantity
      width: 10%
    td.price
      width: 10%
    td.total
      width: 20%
      font-size: 125%
      text-align: right
table.totals
  float: right
  margin-bottom: 1em
  tr.total
    td.total
      font-size: 150%
  td.total
    text-align: right

/* Orders
ul.orders
  float: left
  margin: 0
  padding: 0
  width: 100%
  li.order
    clear: both
    display: block
    float: left
    list-style: none
    margin-bottom: 1em
    width: 100%

#checkout-container
  .form-actions .btn
    float: right

.checkout-header
  background: #f5f5f5
  clear: both
  -webkit-border-radius: 1em
  -moz-border-radius: 1em
  border-radius: 1em
  margin-bottom: 1em
  padding: 1em

.checkout-summary,
.checkout-body
  clear: both
  margin-left: 5em
  margin-right: 5em
  padding: 1em
  .form-actions
    background: transparent
    border: none
    float: right
    margin: 0 0 1em 0
    padding: 0
  fieldset
    ol
      margin: 0
      padding: 0
      float: left
    li
      list-style: none
      padding: 0
      margin: 0

.address textarea
  resize: vertical

/* Thank You Page

#order-customer
  float: right
  margin: 1em 1em 2em 2em
  width: 24em
  li
    list-style: none

#order-details
  background: white
  border: solid 1px #eeeeee
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75)
  box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75)
  margin: 2em
  ol.form
    li
      list-style: none
  #order-number
    margin: 2em
  #order-customer_comment
    color: #383787
    font: 400 40px/1.0 'Just Another Hand', Helvetica, sans-serif
    margin: 1.5em 2em 2em 1em
    transform: rotate(-15deg)
    -ms-transform: rotate(-15deg) /* IE 9 */
    -webkit-transform: rotate(-15deg) /* Safari and Chrome */
    -o-transform: rotate(-15deg) /* Opera */
    -moz-transform: rotate(-15deg) /* Firefox */
    width: 10em
  #order-shipping,
  #order-billing
    width: 50%
    float: left
    ol.status
      border: dashed 4px #cccccc
      -webkit-border-radius: 1em
      -moz-border-radius: 1em
      border-radius: 1em
      padding: 1em 2em 2em 2em
      .description
        color: #cccccc
        float: right
        margin: 2em 0 0 2em
        width: 40%

.clearer
  clear: both



div.detail span
  font-size: 130%
  margin-left: 20px

/* Other

.amount
  text-align: right

span.currency
  font-size: 80%



li.state-postcode
  label
    width: 80px
  input[type=text]
    width: 30px !important

ol.form
  span.required
    font-size: 200%
    font-weight: bold
    color: #e33100
    line-height: 0.2em
    vertical-align: bottom
    border: none
  .optional
    color: #cccccc
  li.state-postcode abbr
    margin-left: -80px

.first_name, .last_name
  float: left
  margin-right: 1em

/* Product Lists

ul.products li
  list-style: none
  margin-bottom: 2em
  clear: both
  .image
    float: left
    width: 128px
    height: 128px
    margin: 0 1em 1em 0
  .actions
    text-align: right

/* Products Page

.container.product .images
  float: right

.breeze-minicart, .breeze-customer_login
  float: left

.product-header .breeze-minicart
  float: right

#variants
  float: left
  table.variants
    float: left

#product_info_region
  clear: none
  width: 50%

/* Profile Page

#customer-details
  clear: both
  float: left
  width: 100%
  .customer_identity
    float: left
    margin-right: 6em
    width: auto
  .customer_addresses
    float: left
    ol
      margin: 0
      padding: 0
      li
        list-style: none
    .address
      float: left
      margin-right: 6em
table.orders
  width: 100%
  thead
    tr
      th
        text-align: left
  tr.order
    padding: 1em
    td
      .total
        font-size: 1.5em
      p.address
        font-size: 0.8em
      ul
        margin: 0
        padding: 0

.breeze-customer_login_form
  .form-actions
    margin: 0
    padding: 1em 0 0 0
    text-align: right

.form-actions
  clear: both
  float: left
  width: 100%