%table.shipping_methods
  %tr.shipping#shipping_methods
    %td
      Shipping:
    %td
      .description
        %h4
          = order.shipping_method.name
      .amount
        +
        %span.amount
          = number_to_currency order.shipping_total
        %span.currency= currency