<span class = "customer-card">
  <p class="customer-name">
    <span class="name">
      <%= customer.name %>
    </span>
  </p>
  <ul class="customer-contact">
    <li class="phone">
      <%= customer.phone %>
    </li>
    <li class="email">
      <%= customer.email %>
    </li>
  </ul>
</span>