%span.customer-card
  %p.customer-name
    %span.name
      = customer.name
  %ul.customer-contact
    %li.phone
      = customer.phone
    %li.email
      = customer.email
    %li.billing_address
      = html_address(customer.billing_address, false) if customer.billing_address

