<div id='<%= "customer_#{@customer.id}" %>' class="customer-edit">
  <%= render "breeze/commerce/customers/form", :url => breeze.customer_path(@customer) %>
</div>

<h2>Orders</h2>
<%= render :partial => "breeze/commerce/orders/orders", :object => @customer.orders %>