.row
  .span8
    %h2 Previous Orders
    = render :partial => "breeze/commerce/orders/orders", :object => @customer.orders.unarchived.not_browsing
  .span4
    %h2 Customer Profile
    .customer{:id => "customer_#{@customer.id}"}
      .customer-show
        = render :partial => "breeze/commerce/customers/customer_show", :locals => {:customer => @customer}
      .clearer
      .customer-edit{style: "display: none"}
        = render :partial => "breeze/commerce/customers/customer_edit", :locals => {:customer => @customer}
      .clearer