%li.payment{:id => "payment_#{payment.id}", :class => payment.succeeded ? 'approved' : 'declined' }
  Payment of
  %span.amount
    = number_to_currency payment.amount, :locale => :nz
    %span.currency
      = store.currency
  - if payment.succeeded
    received 
  - else
    declined
  on
  %span.date= payment.created_at.strftime('%A %d %B %Y, %l:%M %p')
  .gateway.payment_express Payment Express