- if payments.any?
  %h3
    = "Payment".pluralize(payments.count)
  %ul.payments
    = render :partial => "breeze/commerce/payments/payment", collection: payments
- else
  There are no payments for this order.
