.properties-container
  = link_to "New property...", new_admin_store_product_property_path(@product.id), :class => "large new property button"
  %h2 Properties
  %table.fancy.properties
    %thead
      %tr
        %th.first{:style => "width: 20%"} Name
        %th{:style => "width: 60%;"} Options
        %th.last{:style => "width: 20%"} Actions
    %tbody
      - if @product.properties.exists?
        = render :partial => "breeze/admin/commerce/properties/property", :collection => @product.properties
      - else
        %tr.empty
          %td.empty{:colspan => "5"} There are no properties for this product yet.
    %tfoot
      %tr
