<div class="properties-container container">
  <%= link_to "New property...", new_admin_store_product_property_path(@product.id), :class => "large new property button" %>
  <h2>Properties</h2>
  <table class="fancy properties">
    <thead>
      <tr>
        <th class="first" style="">Name</th>
        <th style="width:20%;">Options</th>
        <th class="last" style="">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @product.properties.any? %>
        <%= render :partial => "breeze/admin/commerce/products/property", :collection => @product.properties %>
      <% else %>
        <tr class="empty"><td class="empty" colspan="5">There are no properties for this product.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>
