= content_tag :tr, :class => "customer", :id => "product_#{top_seller.id}" do
  %td.name
    = link_to top_seller.title, edit_admin_store_product_path(top_seller), :class => "name-link"
  %td.sales
    = top_seller.number_of_sales