.variants-container.container
  = link_to "New variant...", new_admin_store_product_variant_path(@product.id), :class => "large new variant button"
  %h2 Variants
  %table.fancy.variants
    %thead
      %tr
        %th.first{:colspan => "2", :style => ""} Name
        %th SKU Code
        %th Price
        - @product.properties.each do |property|
          %th
            = property.name
        %th{:style => "width:20%;"} Available?
        %th.last{:style => ""} Actions
    %tbody
      - if @product.variants.any?
        = render :partial => "breeze/admin/commerce/products/variant", :collection => @product.variants.unarchived
      - else
        %tr
          %td.empty{:colspan => "5"} There are no variants for this product.
    %tfoot
      %tr

:javascript
  $(document).ready(function() {

    $('.available-toggle').live('mousedown', function() {
      $checkbox =  $(this).siblings('.variant-available');
      $checkbox.click().change();
      checked = $(this).siblings('.variant-available:checked').length > 0;
      $(this).animate({
        'background-position': (checked ? 0 : 100) + '% 0%'
        }, 'slow', 'easeInOutQuad');



      // $(this).parents('.available').find('.text').html(checked ? 'Yes' : 'No');
      id = $(this).closest('tr.variant').attr('data-id');
      product_id = $(this).closest('tr.variant').attr('data-product-id');
      $.ajax({
        url: '/admin/store/products/' + product_id + '/variants/' + id + '.js',
          type: 'post',
          dataType: 'script',
          data: '_method=put&variant[available]=' + checked
      });
    });
  });