- content_for :title, "New Product"
- content_for :left do
  = render 'breeze/admin/commerce/commerce/left'

= pane_layout do |main|
  - main.inner do
    = scrollable_layout do
      .product-new{:id => "product_new"}
        = render "breeze/admin/commerce/products/form", :url => admin_store_products_path