<div class="orders-container container">
  <table class="fancy contextual orders">
    <thead>
      <tr>
        <th class="first" style="width: 20%;">Order Date & Time</th>
        <th>Products</th>
        <th style="width:20%;">Customer</th>
        <th style="width:20%;">Contact</th>
        <th style="width:10%;">Deliver To</th>
        <th style="width:10%">Amount</th>
        <th class="last" style="">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if orders.any? %>
        <%= render :partial => "order", :collection => orders %>
      <% else %>
        <tr><td class="empty" colspan="6">There are no orders to show here.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>


