- content_for :head do
  %title Shopping Cart

= form_for @order, :as => :order, :url => breeze.order_path(@order), :method => :put, :remote => true do |form|
  .row
    .span12
      %h1 Shopping Cart
  .row.cart-container
    .span12
      = render :partial => "breeze/commerce/line_items/line_items", :object => @order.line_items.unarchived, :locals => { :form => form }
      .form-actions
        .btn-group
          = link_to store.home_page.permalink, :class => "btn", :id => "continue-shopping" do
            %i.icon-arrow-left
            %span.title Continue Shopping
          - shipping_methods = Breeze::Commerce::Store.first.shipping_methods.unarchived
          - if @order.line_items.count > 0 && shipping_methods.count > 0
            = link_to breeze.checkout_path, :class => "btn btn-primary" do
              %i.icon-arrow-right
              %span.title Go to Checkout