<div class="shipping">

</div>
<div class="billing">

</div>
<div class="items">
  <table>
    <thead>
      <tr>
        <th colspan="2">Item</th>
        <th>SKU</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |item| %>
        <tr>
          <td></td>
          <td>item.product.title</td>
          <td></td>
          <td>item.price</td>
          <td><%= item.quantity %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td colspan="2">Sub Total</td>
        <td><%= @order.item_total  %></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td colspan="2">Shipping</td>
        <td><%= %></td>
      </tr>
      <tr>
        <td colspan="3"></td>
        <td colspan="2">Total</td>
        <td><%= @order.total %></td>
      </tr>
    </tfoot>
  </table>
</div>
