= link_to edit_admin_store_customer_path(customer) do
  %p.customer-name
    %span.name
      = customer.name
  %ul.customer-contact
    %li.phone
      = customer.phone
    %li.email
      = customer.email
