<div class="customers-container container">
  <table class="customers">
    <thead>
      <tr>
        <th style="">Name</th>
        <th style="">Order Total</th>
      </tr>
    </thead>
    <tbody>
      <% if @top_customers.any? -%>
        <%= render :partial => "breeze/admin/commerce/customers/top_customer", :collection => @top_customers %>
      <% else -%>
        <tr><td class="empty" colspan="6">There are no customers to show here.</td></tr>
      <% end -%>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8">&nbsp;</td>
      </tr>
    </tfoot>
  </table>
</div>


