<% content_for :title, "Orders" %>
<% pane_layout do |panes| %>
  <% panes.inner do %>
    <%= scrollable_layout do %>
      <h1>
        Orders
      </h1>
      <%= render :partial => "orders", :object => @orders %>
    <% end %>
  <% end %>
<% end %>

<% content_for :left do %>
  <%= render :partial => "/admin/breeze/commerce/commerce/left" %>
<% end %>

