<div class="associations-container container">
  <%= link_to "New association...", new_admin_store_product_association_path(@product), :class => "large new association button" %>
  <table class="fancy associations">
    <thead>
      <tr>
        <th class="first"></th>
        <th style="width:15%;">Name</th>
        <th style="width:10%;">Price</th>
        <th></th>
        <th class="last" style="">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @product.related_products.any? %>
        <%= render :partial => "association", :collection => @product.related_products %>
      <% else %>
        <tr><td class="empty" colspan="5">There are no associations for this product.</td></tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
</div>


